@import 'fonts/oately.css';
@import 'tokens/breakpoints.css';
@import 'tokens/color.css';
@import 'tokens/space.css';
@import 'tokens/typography.css';
@import 'tokens/border-radius.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);  
  padding: 0;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-regular);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  padding: 0;
  margin: 0;
}

body {
  font-size: var(--font-size-md);
}

h1, h2, h3, h4, h5, h6 {
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
    text-wrap: pretty;
    margin: 0;
}

h1 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold-display);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

h4 {
    font-size: var(--font-size-md);
}

p {
  margin: 0;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

@media (hover: hover) {
    a:hover {
        color: var(--color-accent-hover);
        text-decoration: underline;
    }
}

.intro {
  font-size: var(--font-size-lg);
  margin: 0;
  max-width: 66ch;
  text-wrap: pretty;
}

.text-lg {
  font-size: var(--font-size-lg);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-muted {
  color: var(--color-text-muted);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:focus-visible {
  outline-offset: 2px;
}


.step-forward-enter-active,
.step-forward-leave-active,
.step-back-enter-active,
.step-back-leave-active {
  transition:
    opacity 0.18s ease,
    transform 0.18s ease;
}

.step-forward-enter-from {
  opacity: 0;
  transform: translateX(1.5rem);
}
.step-forward-leave-to {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.step-back-enter-from {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.step-back-leave-to {
  opacity: 0;
  transform: translateX(1.5rem);
}
